.ContactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}

.formLabel,
.formInput {
  margin-bottom: 10px;
}

.formLabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
}

.formInput {
  margin-top: 15px;
  padding: 4px;
  width: 320px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 17px;

  font-style: normal;
}

.formLabel:focus-within {
  color: rgb(74, 173, 235);
}
.formInput:focus {
  border: 2px solid rgb(74, 173, 235);
  outline: transparent;
}

.addContactBtn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 8px;
  margin-top: 15px;
  width: 150px;

  text-align: center;

  font-style: normal;
  font-weight: normal;
  font-size: 17px;

  cursor: pointer;
  outline: none;
  border: 1px solid rgb(191, 178, 68);
  border-radius: 3px;
  background-color: rgb(248, 223, 177);
  box-shadow: 0 0 4px #000, inset 0 1px 4px -2px #fff;
  transition: background-color box-shadow 250ms linear;
}

.addContactBtn:hover {
  background-color: rgb(255, 193, 77);
  box-shadow: 0 -1px 3px #000, inset 0 1px 4px -3px #fff;
}

.addUserIcon {
  margin-right: 5px;
}
